<script src="/public/js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
function addObjectToLocalStorage(key, obj) {
	if (localStorage.getItem(key)) {
		var list = JSON.parse(localStorage.getItem(key))
		var found = false
		for (var i=0; i<list.length; i++) {
			if (list[i].url == obj.url) {
				found = true
				break
			}
		}
		if (!found) {
			list.push(obj)
			localStorage.setItem(key, JSON.stringify(list))
		}
	} else {
		localStorage.setItem(key, JSON.stringify([obj]))
	}

	onLocalStorageUpdate(key)
}

function removeUrlFromLocalStorage(key, url) {
	var objStr = localStorage.getItem(key)
	if (objStr) {
		list = JSON.parse(objStr)
		for (var i = 0; i < list.length; i++) {
			if (list[i].url == url) {
				list.splice(i, 1)
				localStorage.setItem(key, JSON.stringify(list))
				onLocalStorageUpdate(key)
				break
			}
		}
	}

}

function cleanLocalStorage(key) {
	localStorage.removeItem(key)
	onLocalStorageUpdate(key)
}

// function copyText(text) {
// 	// var $temp = $("<input>")
//   // $("body").append($temp);
//   // $temp.val(text).select();
//   // document.execCommand("copy");
//   // $temp.remove();
//     var clipboard = new Clipboard('.btn', {
//         text: function() {
//             return 'to be or not to be' + '\r\n' + 'another line\r\n';
//         }
//     });
// }

function onLocalStorageUpdate(key) {
	var list = JSON.parse(localStorage.getItem(key))
		$('.copyItemList').children().remove()
		$('.copyItemCnt').text(list ? list.length : 0)
	if (list && list.length > 0) {
		$('.copyItemCnt').text(list.length)
		$(list).each(function() {
			$('.copyItemList').append('<div class="row">'
				+'<div class="magnetname col-md-3">' + decodeURI(this.name) + '</div>'
				+'<div class="magnetsize col-md-1">' + this.size + '</div>'
				+'<div class="magneturl col-md-7">' + this.url + '</div>'
				+'<div class="removebtn col-md-1"><a href="#" onclick="removeUrlFromLocalStorage(\'clicktocopy\', \''+this.url+'\')">remove</a></div>'
				+ '</div>')
		})
	}
}


$(function() {
	onLocalStorageUpdate('clicktocopy')
	$('.clicktocopy').click(function() {
		var data = $(this).attr('data')
		console.log(data)
		var dataJson = JSON.parse(data)
		console.log(dataJson)
		addObjectToLocalStorage("clicktocopy", dataJson)
	})

	// $('.copybtn').click(function() {
	// 	if (localStorage.getItem('clicktocopy')) {
	// 		var list = JSON.parse(localStorage.getItem('clicktocopy'))
	// 		var text = ""
	// 		$(list).each(function() {
	// 			text += this.url + '\r\n'
	// 		})
	// 		copyText(text)
	// 		cleanLocalStorage('clicktocopy')
	// 	}
	// })
	var clipboard = new Clipboard('.copybtn', {
			text: function() {
					var text = ""
					if (localStorage.getItem('clicktocopy')) {
						var list = JSON.parse(localStorage.getItem('clicktocopy'))
						$(list).each(function() {
							text += this.url + '\r\n'
						})
					}
					return text
			}
	});

  clipboard.on('success', function(e) {
		alert("Message copied")
		console.log("Copying message: " + e.text)
		cleanLocalStorage('clicktocopy')
  });

	$('#magnetshowbtn').click(function() {
		if ($('#magnetlistcontainer').hasClass('magnetlisthidden')) {
			$('#magnetlistcontainer').removeClass('magnetlisthidden')
			$('#magnetlistcontainer').addClass('magnetlistshow')
		} else {
			$('#magnetlistcontainer').addClass('magnetlisthidden')
			$('#magnetlistcontainer').removeClass('magnetlistshow')

		}
	})
});
</script>
<style>
  .magnetlisthidden {
    display: none;
  }
  .magnetlistshow {
  }
</style>

<div class='container'>
	<div class='row'>
		<a href="#" id='magnetshowbtn'>共拷贝<span class='copyItemCnt'>0</span></a>
		<a href="#" class='copybtn'>Copy</a>
	</div>
	<div class='row magnetlisthidden' id='magnetlistcontainer'>
		<div class='container copyItemList' >
		</div>
	</div>
</div>
