<div class="container">
	{{range .movies}}
		<div class='row show-grid'>
					<a href="/movie/{{.Id}}">
						<div class='col-md-4'>
							<img class="img-responsive" src="/getimage?url={{.CoverUrl | urlquery}}">
						</div>
					</a>
					<div class="col-md-8">
						<h3>
							{{.Title}}
							<small>{{.ExtraInfo.ReleaseDate}}</small>
						</h3>
						<dl class="dl-horizontal">
							<dt>censored</dt>
							<dd>{{if .Censored}}有码{{else}}无码{{end}}</dd>
							<dt>Artists</dt>
							<dd>
								{{range .Artresses}}
									<span><a href="/artress/{{.Id}}">{{.Name}}</a></span> 
								{{end}}
							</dd>
							<dt>use div instead</dt>
							<dd>
							</dd>
						</dl>
						{{range .BestMagnets}}
							<div class='row show-grid clicktocopy' data='{"name": "{{urlquery .Title}}", "url": "{{.Url}}", "size": "{{.GetSize}}"}'>
								<div class="col-md-11" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap">{{.Title}}</div>
								<div class="col-md-1">{{.GetSize}}</div>
							</div>
						{{end}}
					</div>
		</div>
	{{end}}
</div>