{{set . "title" "Artress"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Artress {{.Name}}</h1>
      </div>
    </div>
  </div>
</header>
{{template "templates/movielist.html" .}}
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>
{{template "templates/clicktocopy.html" .}}
{{template "footer.html" .}}
