{{set . "title" "Artresses"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Artresses</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
{{range .artresses}}
  <div class="row">
    <a href='/artress/{{.Id}}'>
      <img src="/getimage?url={{.AvatarUrl | urlquery}}"></img>
      {{.Name}}
    </a>
  </div>
{{end}}
</div>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
