{{set . "title" "Movie"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Movie {{.movie.Title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="img-responsive" src="/getimage?url={{.CoverUrl | urlquery}}">
      </div>
      <div class="col-md-8">
        <ul>
          <li>{{if .movie.Censored}}有码{{else}}无码{{end}}</li>
          <li>
            {{range .movie.Genres}}
              <span><a href="/genre/{{urlquery .}}">{{.}}</a></span>
            {{end}}
          </li>
          <li>
            {{range .artresses}}
              <span><a href="/artress/{{.Id}}">{{.Name}}</a></span>
            {{end}}
          </li>
          {{if .movie.Series}}
          <li>
            <span><a href="/series/{{urlquery .movie.Series}}">{{.movie.Series}}</a></span>
          </li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="container">
  {{$movieName := .movie.Title}}
  {{range .movie.MagnetUrls}}
    <div class="row clicktocopy" data='{"name": "{{urlquery $movieName}}", "url": "{{.Url}}", "size": "{{.Size}}"}'>
      <div class="col-md-11">{{.Title}}</div>
      <div class="col-md-1">{{.Size}}</div>
    </div>
  {{end}}
</div>
{{template "templates/clicktocopy.html" .}}
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
