{{set . "title" "Serieses"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Serieses</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
{{range .serieses}}
  <div class="row">
    <a href='/series/{{urlquery .}}'>
      {{.}}
    </a>
  </div>
{{end}}
</div>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
