{% extends "basiclayout.html" %}
{% block title %} Artress - {{ artress.name }}{% endblock %}
{% block body %}
<script src="{{ url_for('static', filename='js/jav.js') }}" type="text/javascript"></script>
<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Artress {{ artress.name }}</h1>
        <p>{% if artress.star %}<a onclick="star('artress', '{{artress.id}}', 0)">Unstar</a>{% else %}<a onclick="star('artress', '{{artress.id}}', 1)">Star</a>{% endif %}</p>
        <img class="img-responsive" src="{{url_for('image_proxy', url=artress.avatarUrl)}}">
        <p>Single Count: {{artress.single_work_cnt}}</p>
      </div>
    </div>
  </div>
</header>
{% set movies = artress.movies %}
{% include "movielist.html" %}
{% endblock %}