{% extends "basiclayout.html" %}
{% block title %}Artresses{% endblock %}
{% block body %}
	<div class="container">
		{% for artress in artresses %}
			<div class="row">
				<a href="{{ url_for('artress', id=artress.id) }}">
					<img src="{{url_for('image_proxy', url=artress.avatarUrl)}}"></img>
					{{artress.name}} ({{artress.movie_cnt}})
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}