{% extends "basiclayout.html" %}
{% block title %}Artresses{% endblock %}
{% block body %}
	<div class="container" role="main">
		{% for artress in artresses %}
			<div class="row">
				<!--<a href='/artress/{{artress.id}}'>-->
                <a href="{{ url_for('artress', id=artress.id) }}">
					<!--<img src="/getimage?url={{artress.avatarUrl}}"/>-->
                    <img src="{{ url_for('image_proxy', url=artress.avatarUrl) }}"/>
					{{artress.name}} ({{artress.movie_cnt}})
				</a>
			</div>
		{% endfor %}
        <nav>
            <ul class="pagination">
                {% if current_page == 1 %}
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="{{ url_for('artresses', page=current_page) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
                {% for index in range(current_page, current_page + 5) %}
                    {% if index == current_page %}
                        <li><a class="active" href="{{ url_for('artresses', page=index) }}">{{index}}</a></li>
                    {% else %}
                        <li><a href="{{ url_for('artresses', page=index) }}">{{index}}</a></li>
                    {% endif %}
                {% endfor %}
                {% if current_page == total_pages %}
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('artresses', page=current_page + 1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

                {% endif %}
            </ul>
        </nav>
	</div>
{% endblock %}