<div class="container">
    <div class='row'>
	{% for artress in artresses %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{{url_for('image_proxy', url=artress.avatarUrl)}}" class="img-responsive" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3>{{ artress.name }}</h3>
                    <p>{{ artress.movie_cnt }}</p>
                    <p>
                        <a href="{{ url_for('artress', id=artress.id) }}" class="btn btn-primary" role="button">Detail</a>
                    </p>
                </div>
            </div>
        </div>
	{% endfor %}
    </div>
</div>