<!DOCTYPE html>

<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}" type="text/javascript"
            charset="utf-8"></script>
    <script type="text/javascript">
        api_root = {{url_for('api_root')}}
    </script>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Javweb</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a  data-toggle="modal" href="#magnetInfoModal" id='magnetshowbtn'>共拷贝<span class='copyItemCnt'>0</span></a></li>
		            <li><a href="#" class='copybtn'>Copy</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="collapse" id="collapseExample">
        <div class="well copyItemList">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="magnetInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="well copyItemList container"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% block body %}{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% include "clicktocopy.html" %}
</body>
</html>