{% extends "basiclayout.html" %}
{% block title %} Dashboard{% endblock %}
{% block body %}
<h1>Top movie</h1>
{% set movies = top_score_movies %}
{% include "movie_thumbnails.html" %}
<h1>Censored movie</h1>
{% set movies = recent_movies_censored %}
{% include "movie_thumbnails.html" %}
<h1>UnCensored movie</h1>
{% set movies = recent_movies_uncensored %}
{% include "movie_thumbnails.html" %}
<h1>Active Artresses censored</h1>
{% set artresses = active_artress_censored %}
{% include "artresses_thumbnails.html" %}
<h1>Active Artresses uncensored</h1>
{% set artresses = active_artress_uncensored %}
{% include "artresses_thumbnails.html" %}
{% endblock %}