<div class="container">
	{% for movie in movies | sort(attribute='releaseDate', reverse=True) %}
		<div class='row show-grid'>
					<a href="{{ url_for('movie_detail', id=movie.id) }}">
						<div class='col-md-4'>
							<!--<img class="img-responsive" src="/getimage?url={{movie.coverUrl}}">-->
							<img class="img-responsive" src="{{url_for('image_proxy', url=movie.coverUrl)}}">
						</div>
					</a>
					<div class="col-md-8">
						<h3>
							{{ movie.title }}
							<small>{{ movie.date }}</small>
						</h3>
						<dl class="dl-horizontal">
							<dt>censored</dt>
							<dd>{% if movie.censored %}骑兵{% else %}步兵{% endif %}</dd>
							<dt>Release Date</dt>
							<dd>{{movie.releaseDate}}</dd>
							<dt>Series</dt>
							<dd><a href="{{url_for('series', name=movie.series.name)}}">{{movie.series.name}}</a></dd>
							<dt>Artists</dt>
							<dd>
								{% for artress in movie.artresses %}
									<span><a href="{{ url_for('artress', id=artress.id) }}">{{artress.name}}</a></span>
								{% endfor %}
							</dd>
						</dl>
						{% for magnet in movie.bestMagnets %}
							<div class='row show-grid clicktocopy' data='{"name": "{{magnet.name}}", "url": "{{magnet.url}}", "size": "{{magnet.size_str}}"}'>
								<div class="col-md-11" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap">{{magnet.title}}</div>
								<div class="col-md-1">{{magnet.size_str}}</div>
							</div>
						{% endfor %}
					</div>
		</div>
	{% endfor %}
</div>
