<div class="container">
    <div class='row'>
	{% for movie in movies %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <img src="{{url_for('image_proxy', url=movie.coverUrl)}}" class="img-responsive" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3>{{ movie.title }}</h3>
                    <p>{% if movie.censored %}骑兵{% else %}步兵{% endif %}</p>
                    <p>{{movie.releaseDate}}</p>
                    <p>
                        {% for artress in movie.artresses %}
                            <a href="{{ url_for('artress', id=artress.id) }}">{{artress.name}}</a>
                        {% endfor %}
                    </p>
                    <p>
                        <a href="{{ url_for('movie_detail', id=movie.id) }}" class="btn btn-primary" role="button">Detail</a>
                    </p>
                </div>
            </div>
        </div>
	{% endfor %}
    </div>
</div>