{% extends "basiclayout.html" %}
{% block title %} Series - {{ series.name }}{% endblock %}
{% block body %}
<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Series {{ series.name }}</h1>
      </div>
    </div>
  </div>
</header>
{% set movies = series.movies %}
{% include "movielist.html" %}
{% endblock %}